.Page2{
    width: 50%;
    
    padding: 10px;  
   
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
 
}

.Page2 button{

    padding-top: 8px;
    margin-top:12px ;
    margin-right: 8px;
}